.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  .testimonial-group > #logDisplay > .row{
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

.testimonial-group > #logDisplay > .row > .log-Col {
    display: inline-block;
    float: none;
}