body{
    background-image: url("../images/background.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
}

#banner {
    background-image: url("../images/banner.png");
    height: 22vh;
    background-repeat: no-repeat;
    background-size: 100% 22vh;
    margin-bottom: 50px;
}

.display {
    background-color: white;
    padding: 10px 10px 10px 10px;
}