body{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    height: 100vh;
}

#banner {
    background-image: url("../images/banner.png");
    height: 22vh;
    background-repeat: no-repeat;
    background-size: 100% 22vh;
    margin-bottom: 40px;
}

.display {
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}